#menu {
	position: fixed;
	top: 0px;
	left: 0px; 
	margin-top: 40px;
	margin-left: 20px;
	width: 150px;
	font-family: sans-serif;
	font-size: medium;
	background: #fff;
}

#menu td {
	list-style-type: none;
	border: 1px solid #ccc;
	width: 130px;
	text-align: center;
}

#menu a {
	background: #fff;
	display: block;
}

#menu a:hover {
	background: #deefe8;
	color: #900;
	text-decoration: none;
}

#submenu {
	position: fixed;
	top: 0px;
	left: 780px; 
	margin-top: 40px;
	margin-left: 20px;
	width: 150px;
	font-family: sans-serif;
	font-size: medium;
	background: #fff;
}

#submenu td {
	list-style-type: none;
	border: 1px solid #ccc;
	width: 130px;
	text-align: center;
}

#submenu a {
	background: #fff;
	display: block;
}

#submenu a:hover {
	background: #deefe8;
	color: #900;
	text-decoration: none;
}

#main {
	position: absolute;
	top: 0px;
	left: 180px;
	margin-top: 20px;
	margin-left: 0px;
	width: 600px;
	font-family: sans-serif;
}

h1 {
	border-bottom: solid 2px green;
	border-left: solid 10px green;
	padding: 0px 0px 0px 10px;
	font-size: huge;
}

h2 {
	border-bottom: solid 2px green;
	border-left: solid 8px green;
	padding: 0px 0px 0px 10px;
	font-size: x-large;
}

h3 {
	border-bottom: solid 2px green;
	border-left: solid 6px green;
	padding: 0px 0px 0px 10px;
	font-size: large;
}

h4 {
	border-bottom: solid 2px green;
	border-left: solid 4px green;
	padding: 0px 0px 0px 10px;
	font-size: large;
}

h5 {
	border-bottom: solid 2px green;
	border-left: solid 2px green;
	padding: 0px 0px 0px 10px;
	font-size: large;
}

h6 {
	border-left: solid 2px green;
	padding: 0px 0px 0px 10px;
	font-size: large;
}


p {
	margin-left: 16px;
	margin-right: 16px;
	font-size: large;
}

dl {
	font-size: medium;
	padding-left: 30px;
	padding-right: 30px;
}

dt {
	font-size: medium;
	padding-left: 16px;
}

li {
	margin: 0.5em 
}

pre {
	border: 1px solid gray;
	padding: 0.5em;
	margin: 0.5em 2em 0.5em 2em;
	font-size: large;
}

.right {
	text-align: right;
	padding-right: 16px;
}

img {
	margin: 0px auto;
	text-align: center;
}

body {
	counter-reset: chapter;
}
